/* body{
    background-color: #bdbaba;
} */

.bodyChamadoCriar{
    margin-top: 5rem;
    font-family: poppins;
    margin-left: 5%;
    display: flex;
}

.options{
    /* background-size: 70rem; */
    width: 400px;
    height: 35rem;
    margin-left: 5rem;
    padding: 3rem;
    border-radius: 10px;
    background-color: #f7f7f7;
}

.options .OpTipo{
    font-family: poppins;
    width: 10rem;
    font-size: 20px;
    font-weight: 200;
}

.options .OpStatus{
    font-family: poppins;
    width: 10rem;
    font-size: 20px;
    font-weight: 200;
}

.OpStatus h5{
    font-family: poppins;
    font-size: 20px;
    font-weight: 200;
}

.OpTipo h5{
    font-family: poppins;
    font-size: 20px;
    font-weight: 200;
}

.formChamado{
    width: 570px;
    height: 35rem;
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    /* box-shadow: 2px 2px 20px rgb(87, 29, 221); */
    border-radius: 10px;
    align-items:flex-start;
}

.formChamado h5{
    margin-top: 15px;
    /* font-family: poppins; */
    /* color: #fff; */
    font-size: 20px;
    font-weight: 200;
}

.formChamado input::placeholder{
    color: rgba(134, 134, 134, 0.493);
}

.bodyChamadoCriar h2{
    padding: 1rem;
    font-family: poppins;
    font-size: 30px;
    font-weight: 300;
}

.inputChamado{
margin-left: 3rem;
}

.descricao{
    width: 100%;
    height: 200px;
}
.registrar{
    background-color: #11101d;
    color: white;
    padding: 3px;
    margin-top: 15rem;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    width: 50%;
    justify-content: center;
    align-items: center;
}

