/* .InputLogin {
    width: 70%;
    border: 1px solid black;
    border-radius: 8px;
}

.InputLogin input{
    background-color: #0a32862e;
    color: #fff;
    margin: 0;
    padding: 0px;
    border-radius: 0 8px 8px 0;
}
 */
